In [1]:
import pandas as pd

In [3]:
data1 = pd.read_csv('data/ECB_Notice_of_Violations__Cooling_towers_.csv', 
                    converters={'Violation Location (Block No.)': lambda x: str(x)})
data1.head()

,Ticket Number,Violation Date,Violation Time,Issuing Agency,Respondent Last Name,Respondent First Name,Balance Due,Violation Location (Borough),Violation Location (Block No.),Violation Location (Lot No.),...,Charge #8: Code Description,Charge #8: Infraction Amount,Charge #9: Code,Charge #9: Code Section,Charge #9: Code Description,Charge #9: Infraction Amount,Charge #10: Code,Charge #10: Code Section,Charge #10: Code Description,Charge #10: Infraction Amount
0,070001758P,04/12/2006,NaN,LANDMARKS PRESERVATION,"THOMAS CARPENTER, ASST.","DIR. ENG., ABC TV",NaN,MANHATTAN,01118,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,037000217L,09/21/2015,08:50:00,DEPT. OF BUILDINGS,"VW CREDIT,INC",NaN,$0.00,MANHATTAN,01084,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,037000485H,09/21/2015,05:00:00,DEPT. OF BUILDINGS,FEDERATED DEPT STORES INC.,NaN,$4000.00,STATEN IS,02400,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,037000190K,09/21/2015,12:38:00,DEPT. OF BUILDINGS,ABACUS FEDERAL SV BK,NaN,$0.00,MANHATTAN,00092,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,037000195J,09/21/2015,05:15:00,DEPT. OF BUILDINGS,SLOANE BROADWAY LLC,NaN,$0.00,MANHATTAN,00483,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data1['Violation Location (Lot No.)'].fillna(0, inplace=True)

In [5]:
data1['Violation Location (Lot No.)']=data1['Violation Location (Lot No.)'].astype(int).astype(str)

In [6]:
data1['Violation Location (Lot No.)']=data1['Violation Location (Lot No.)'].str.zfill(4)

In [7]:
data1.head()

,Ticket Number,Violation Date,Violation Time,Issuing Agency,Respondent Last Name,Respondent First Name,Balance Due,Violation Location (Borough),Violation Location (Block No.),Violation Location (Lot No.),...,Charge #8: Code Description,Charge #8: Infraction Amount,Charge #9: Code,Charge #9: Code Section,Charge #9: Code Description,Charge #9: Infraction Amount,Charge #10: Code,Charge #10: Code Section,Charge #10: Code Description,Charge #10: Infraction Amount
0,070001758P,04/12/2006,NaN,LANDMARKS PRESERVATION,"THOMAS CARPENTER, ASST.","DIR. ENG., ABC TV",NaN,MANHATTAN,01118,0052,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,037000217L,09/21/2015,08:50:00,DEPT. OF BUILDINGS,"VW CREDIT,INC",NaN,$0.00,MANHATTAN,01084,0001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,037000485H,09/21/2015,05:00:00,DEPT. OF BUILDINGS,FEDERATED DEPT STORES INC.,NaN,$4000.00,STATEN IS,02400,0118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,037000190K,09/21/2015,12:38:00,DEPT. OF BUILDINGS,ABACUS FEDERAL SV BK,NaN,$0.00,MANHATTAN,00092,0024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,037000195J,09/21/2015,05:15:00,DEPT. OF BUILDINGS,SLOANE BROADWAY LLC,NaN,$0.00,MANHATTAN,00483,0007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data1['Violation Location (Borough)'].unique()

array(['MANHATTAN', 'STATEN IS', 'BRONX', 'BROOKLYN', 'QUEENS'], dtype=object)

In [9]:
mapping = {'MANHATTAN':1,'BRONX':2,'BROOKLYN':3,'QUEENS':4,'STATEN IS':5}
data2 = data1.replace({'Violation Location (Borough)': mapping})

In [10]:
data2.head()

,Ticket Number,Violation Date,Violation Time,Issuing Agency,Respondent Last Name,Respondent First Name,Balance Due,Violation Location (Borough),Violation Location (Block No.),Violation Location (Lot No.),...,Charge #8: Code Description,Charge #8: Infraction Amount,Charge #9: Code,Charge #9: Code Section,Charge #9: Code Description,Charge #9: Infraction Amount,Charge #10: Code,Charge #10: Code Section,Charge #10: Code Description,Charge #10: Infraction Amount
0,070001758P,04/12/2006,NaN,LANDMARKS PRESERVATION,"THOMAS CARPENTER, ASST.","DIR. ENG., ABC TV",NaN,1,01118,0052,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,037000217L,09/21/2015,08:50:00,DEPT. OF BUILDINGS,"VW CREDIT,INC",NaN,$0.00,1,01084,0001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,037000485H,09/21/2015,05:00:00,DEPT. OF BUILDINGS,FEDERATED DEPT STORES INC.,NaN,$4000.00,5,02400,0118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,037000190K,09/21/2015,12:38:00,DEPT. OF BUILDINGS,ABACUS FEDERAL SV BK,NaN,$0.00,1,00092,0024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,037000195J,09/21/2015,05:15:00,DEPT. OF BUILDINGS,SLOANE BROADWAY LLC,NaN,$0.00,1,00483,0007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
data2['BBL'] = data2['Violation Location (Borough)'].astype(str).str.cat(data2['Violation Location (Block No.)']).str.cat(data2['Violation Location (Lot No.)'])

In [12]:
data2.head()

,Ticket Number,Violation Date,Violation Time,Issuing Agency,Respondent Last Name,Respondent First Name,Balance Due,Violation Location (Borough),Violation Location (Block No.),Violation Location (Lot No.),...,Charge #8: Infraction Amount,Charge #9: Code,Charge #9: Code Section,Charge #9: Code Description,Charge #9: Infraction Amount,Charge #10: Code,Charge #10: Code Section,Charge #10: Code Description,Charge #10: Infraction Amount,BBL
0,070001758P,04/12/2006,NaN,LANDMARKS PRESERVATION,"THOMAS CARPENTER, ASST.","DIR. ENG., ABC TV",NaN,1,01118,0052,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1011180052
1,037000217L,09/21/2015,08:50:00,DEPT. OF BUILDINGS,"VW CREDIT,INC",NaN,$0.00,1,01084,0001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1010840001
2,037000485H,09/21/2015,05:00:00,DEPT. OF BUILDINGS,FEDERATED DEPT STORES INC.,NaN,$4000.00,5,02400,0118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5024000118
3,037000190K,09/21/2015,12:38:00,DEPT. OF BUILDINGS,ABACUS FEDERAL SV BK,NaN,$0.00,1,00092,0024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000920024
4,037000195J,09/21/2015,05:15:00,DEPT. OF BUILDINGS,SLOANE BROADWAY LLC,NaN,$0.00,1,00483,0007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1004830007

In [19]:
data2.to_csv('data/Violation_CoolingTowers_BBL.csv')

In [14]:
# Filter the violations to retreive only failure to register

dfCoolingTowersRegistrationViolations = \
data2[data2['Violation Details'].str.contains("FAILURE TO REGISTER")==True]

In [16]:
dfCoolingTowersRegistrationViolations.count()

Ticket Number                       456
Violation Date                      456
Violation Time                      456
Issuing Agency                      456
Respondent Last Name                456
Respondent First Name                22
Balance Due                         456
Violation Location (Borough)        456
Violation Location (Block No.)      456
Violation Location (Lot No.)        456
Violation Location (House #)        456
Violation Location (Street Name)    456
Violation Location (Floor)            0
Violation Location (City)           456
Violation Location (Zip Code)       454
Violation Location (State Name)     456
Respondent Address (Borough)        456
Respondent Address (House #)        443
Respondent Address (Street Name)    456
Respondent Address (City)           456
Respondent Address (Zip Code)       456
Respondent Address (State Name)     456
Hearing Status                      456
Hearing Result                      456
Scheduled Hearing Location          456
Hearing Date                        456
Hearing Time                        456
Decision Location (Borough)         361
Decision Date                       456
Total Violation Amount              456
                                   ...
Charge #3: Infraction Amount          0
Charge #4: Code                       0
Charge #4: Code Section               0
Charge #4: Code Description           0
Charge #4: Infraction Amount          0
Charge #5: Code                       0
Charge #5: Code Section               0
Charge #5: Code Description           0
Charge #5: Infraction Amount          0
Charge #6: Code                       0
Charge #6: Code Section               0
Charge #6: Code Description           0
Charge #6: Infraction Amount          0
Charge #7: Code                       0
Charge #7: Code Section               0
Charge #7: Code Description           0
Charge #7: Infraction Amount          0
Charge #8: Code                       0
Charge #8: Code Section               0
Charge #8: Code Description           0
Charge #8: Infraction Amount          0
Charge #9: Code                       0
Charge #9: Code Section               0
Charge #9: Code Description           0
Charge #9: Infraction Amount          0
Charge #10: Code                      0
Charge #10: Code Section              0
Charge #10: Code Description          0
Charge #10: Infraction Amount         0
BBL                                 456
dtype: int64